In [ ]:
#SQL

In [ ]:
#task1
 seclect * from CITY where ID = 1661;

In [ ]:
#task2
select * from CITY where COUNTRYCODE = 'USA' and POPULATION > 100000;

In [ ]:
#task3
select NAME from CITY where COUNTRYCODE = 'JPN';

In [ ]:
#task4
select CITY, STATE from STATION;

In [ ]:
#task5
select distinct CITY from STATION where MOD(ID, 2) = 0;

In [ ]:
#task6
select count(CITY) - count(distinct CITY) from STATION;

In [ ]:
#task7
select * from (select distinct CTTY, length(CITY) from STATION order by length(CITY) asc, CITY asc) where rownum = 1;
union
select * from (select distinct CTTY, length(CITY) from STATION order by length(CITY) desc, CITY asc) where rownum = 1;

In [ ]:
#task8
select distinct CITY from STATION where CITY like 'a%' or CITY like "e%" or CITY like 'o%' or CITY like 'i%' or CITY like 'u%';

In [ ]:
#task9
select distinct CITY from STATION where CITY like 'a%' or CITY like "e%" or CITY like 'o%' or CITY like 'i%' or CITY like 'u%';

In [ ]:
#task10
select distinct CITY from(select distinct CITY from STATION where CITY like 'a%' or CITY like "e%" or CITY like 'o%' or CITY like 'i%' or CITY like 'u%') where CITY like 'a%' or CITY like 'e%' or CITY like 'i%' or CITY like 'o%' or CITY like 'u%';

In [ ]:
#PYTHON

In [ ]:
#Task1
if __name__ == '__main__':
    n = int(input())
    # your code here
    if n % 2 == 1:
      print("Weird")
    elif n % 2 == 0 and 2 <= n <= 5:
      print(" Not WEIrd")
    elif n % 2 == 0 and 6 <= n <= 20: 
      print("Weird")
    else:
        print("Not Weird")

In [ ]:
#Task2
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    # your code here
    sum = a + b
    print(sum)
    diff = a - b
    print(diff)
    pro = a*b
    print(pro)

In [ ]:
#Task3
if __name__ == '__main__':
    n = int(input())
    # your code here
    for i in range(n):
      print(i**2)

In [ ]:
#Task4
def is_leap(year):
  leap = Fales
  # your code here
  if year % 400 == 0:
    leap = True
  elif year % 100 == 0:
    leap = False
  elif year % 4
    leap = True
  return leap
year = int(raw_input())
print(is_leap(year)

In [ ]:
#Task5
if __name__ == '__main__':
  n = int(input())
  # your code here
  arr = map(int, input().split())
  arr = list(set(list(arr)))
  ar = len(arr)
  arr = sorted(arr)
  print(arr[ar-2])