In [13]:
import seaborn as sns
import pandas as pd

In [14]:
link = "https://s3-ap-southeast-1.amazonaws.com/intro-to-ml-minhdh/Salaries.csv"
sal = pd.read_csv(link)

In [15]:
sal.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [16]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [17]:
sal['BasePay'].mean()

66325.44884050643

In [18]:
sal['BasePay'].max()

319275.01

In [19]:
sal['BasePay'].min()

-166.01

In [20]:
sal['OvertimePay'].max()

245131.88

In [21]:
sal['OvertimePay'].min()

-0.01

In [22]:
sal['OvertimePay'].mean()

5066.059886444622

In [23]:
oseph_driscoll = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
joseph_driscoll['JobTitle']

NameError: name 'joseph_driscoll' is not defined

In [24]:
oseph_driscoll = sal[sal['EmployeeName'] == 'GARY JIMENEZ']
joseph_driscoll['JobTitle']

NameError: name 'joseph_driscoll' is not defined

In [ ]:
joseph_driscoll['TotalPayBenefits']

In [ ]:
highest_paid = sal.loc[sal['TotalPayBenefits'].idxmax()]
highest_paid['EmployeeName']

In [ ]:
lowest_paid = sal.loc[sal['TotalPayBenefits'].idxmin()]

lowest_paid

In [ ]:
sal.groupby('Year').mean()['BasePay']

In [ ]:
sal['JobTitle'].nunique()

In [ ]:
sal['JobTitle'].value_counts().head(5)

In [ ]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

In [ ]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [ ]:
sum(sal['JobTitle'].apply(lambda x:chief_string(x)))