In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
lable = pd.read_csv('D:/jupyter/DATA_SCIENRE/Tuan5/test.csv', sep ='\t', encoding = "latin-1")
lable.sample(5)

                                     id,sentiment,review
2571   7370_7,1,"Some have compared this film to Deli...
9397   2026_8,1,"I first saw this mini-series a numbe...
11494  8869_7,1,"In this little film we have some gre...
19768  11027_4,0,"Proof why Hollywood conventions are...
13205  11480_2,0,"Watched this with my girlfriend aft...